{%  extends 'main.html' %}
{% load static %}
{% block content %}

<meta charset="UTF-8">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        .btn {
            background-color: orange;
            border: 2px solid black;
            color: white;
        }

        .lbl {
            color: orange;
        }
    </style>
</head>
<title>New Post</title>

<form method="POST" action="" enctype="multipart/form-data">
    {{form.errors}}
    {% csrf_token %}
    <div class="container">

        {% for field in form %}
        <div class="row">
            <div class="col-md-6">
                <label style="display:block;" class="mt-2 lbl">{{field.label}}</label>
                {{field}}
            </div>
        </div>
        {% endfor %}
        <div class="row">
            <div class="col-md-6 lbl mt-5">
                <img id="img" src="{{media_url}}/{{form.instance.image}}" style="width:100px; height:100px;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mt-5">
                <input type="submit" value="Post" id="btnPost" class="btn">
            </div>
        </div>
    </div>
</form>

{% endblock %}

{% block extra_js%}
<script>
    // $("input type=[file]").val('{{form.instance.image}}')
    $("#id_image").on('change', function () {
        $("#img").attr('src', window.URL.createObjectURL(this.files[0]))
    })
</script>
{% endblock %}