{%  extends 'main.html' %}
{% load static %}
{% block content %}

<meta charset="UTF-8">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        .btn{
        background-color: orange;
        border: 2px solid black;
        margin: 30px;
        }

        .post{
        backgroud-color: yellow;
        border: 2px solid black;
        margin: 10px;
        }
    </style>
</head>
<title>New Post</title>
<div class="post">
<form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <br>
    <label>Title</label>
    <input type="text" name="title">
    <br><br>

    <input type="file" name="picture">
    <br><br>

    <label>Description</label>
    <textarea name="description" rows="4" cols="50"></textarea>
    <br><br>
    <input type="submit" value="Post" class="btn">
</form>
</div>

{% endblock %}